<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Biblioteca</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="stylex.css">
</head>

<body>
	<div th:replace="fragments :: navbar"></div>

	<div id="fondo" class="flex-center">
		<div "${error != null}" th:text="${error}" class="alert-success alert-dismissible fade show mt-3" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
		</div>
		<div class="block-mid bg-dark bg-success p-2" style="--bs-bg-opacity: .75;">
			<a id="btn" href="/Perso/save" class="btn btn-outline-warning">Guardar Personaje</a>
			<a id="btn" href="/Perso/characters" class="btn btn-outline-warning">Listar Personajes</a>
			<a id="btn" href="/Peli/save" class="btn btn-outline-warning">Guardar Pelicula</a>
			<a id="btn" href="/Peli/films" class="btn btn-outline-warning">Listar Peliculas</a>
			<a id="btn" href="/Genero/save" class="btn btn-outline-warning">Guardar Genero</a>
			<a id="btn" href="/Genero/listarG" class="btn btn-outline-warning">Listar Genero</a>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</body>

</html>