<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
	<div th:replace="fragments :: navbar"></div>
	<div th:if="${param.logout}" class="alert-success alert-dismissible fade show mt-3" role="alert">
		<span>Has finalizado la sesión con exito.</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
	</div>
	<form th:action="@{/logincheck}" method="POST">
		<p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
		<div class="mb-3">
			<label for="nombre" class="form-label">Nombre de usuario:</label>
			<input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="nombre"
				placeholder="Ingrese su nombre..." th:text="${username}">
			<label for="password" class="form-label">Contraseña:</label>
			<input type="password" class="form-control" id="password" aria-describedby="emailHelp" name="password">
		</div>
		<div class="mb-3 form-check">
			<label class="form-check-label" for="exampleCheck1">Recordar</label>
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
		</div>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</body>

</html>